body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    width: 80%;
    height: 60%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-side {
    background-color: green;
    color: white;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-btn {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.show-btn:hover {
    background-color: #FFB800;
}

.enter-text {
    font-size: 1.1em;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.right-side img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
