.input1 {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

.div1 {
    text-align: center;
}


.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5%;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
.button3:hover {
    background-color: #f44336;
    color: white;
  }

*{
    font-family: sans-serif;
}