.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }

.div1 {
    text-align: center;
    margin-top: 10%;
}