.text1 {
    text-align: center;
    margin-top: 5%;
}



.text2 {
    font-size: 32px;
    font-weight: 700;
}

.text3 {
    font-size: 15px;
    font-weight: 400;
}
.wikipediacenter {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.button333 {
    margin-top: 3%;
}
.Wikiski {
    text-align: center;
    font-size: 17px;
    margin-top: 2%;
}